<div class="row">
  <section class="webdesigntuts-workshop">
    <form>
      <label for="pullSpazaSuppliers">Search</label>
      <input class='searchTextBox' id="pullSpazaSuppliers" name="Supplier_name" placeholder="Search Suppliers">
    </form>
  </section>
</div>

<div class="row">
  <div class="col-xs-10" >
    <table class="table table-bordered" id="SpazaSuppliers">
      <thead class="label-info">

        <tr>
          <th>
            <h3>suppliers</3></th>
          <th>
            <h3>Manage Suppliers</3></th>
                </tr>
            </thead>
                    {{#suppliers}}
            <tbody>
                <tr>
                    <td><div name="suppliers" class="well well-lg">{{Supplier_name}}</div>
                    </td>
                    <td>
                 <button type="button" class="btn btn-default" onClick="location.href='/suppliers/edit/{{id}}'"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                 <button type="button" class="btn btn-danger" onClick="location.href='/suppliers/delete/{{id}}'"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </td>
                </tr>
            </tbody>
                    {{/suppliers}}
        </table>
            <div>
                <span class="glyphicon glyphicon-plus"></span><button type="button" class="btn btn-success" onClick="location.href='/addSpazaSuppliers'">+ Add a Supplier +</button>
            </div>
    </div>
</div>
